section{
    background-color: #ffffff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

section h2{
    margin-top:0;
}

section ul{
    padding-left: 20px;
}

img{
    display: block;
    margin: 10px 0;
    border-radius: 50%;
}

a{
    color: pink;
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}

